footer{
    position:absolute;
    width: 450px;
    height: 29px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 5px 5px 20px 20px;
    border: 1px solid #00000040;
    background: #CBC47D;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.20);
    z-index: 10;
}
footer h3{
    color: #4A4522;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}