.formulario{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.formulario button{
    /* position:relative;
    top:-80px; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
  
    background-color: rgba(221, 96, 45, 0.50);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.20);
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.20));  
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.formulario input{
    /* position: absolute; */
    width: 300px;
    height: 40px;



    border-radius: 10px;
   /*  border: 2px dashed rgba(255, 255, 255, 0.50); */
    opacity: 0.8;
    background: #000;
    box-shadow: 2px 4px 70px 0px rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(40px);
    
    border-bottom: 1px solid #d7d7d7;
    
    outline: none;
    

    color: #D7D7D7;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;

}

.formulario input::placeholder{
    text-align: center;
}

