@font-face {
  font-family: Inter;
  src: url(./fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(./fonts/Inter/static/Inter-Medium.ttf);
}

.main{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}